node_modules/
_site/
.env
.netlify
netlify/functions/atbash/**
!netlify/functions/atbash/index.js
netlify/functions/caesar/**
!netlify/functions/caesar/index.js
netlify/functions/vigenere/**
!netlify/functions/vigenere/index.js
netlify/functions/book/**
!netlify/functions/book/index.js
