---
id: atbash
title: Atbash Cipher
description: A naive monoalphabetic substitution cipher that simply reverses the plaintext alphabet.
infoUrl: https://en.wikipedia.org/wiki/Atbash
---

{% form %}
    <label>Message <textarea name="message" minlength="0" required>{{ eleventy.serverless.query.message | default: '' }}</textarea></label>
    <label>Plaintext alphabet <input name="alphabet" type="text" value="{{ eleventy.serverless.query.alphabet | default: alphabets.english }}" required></label>
    {% include "operationPicker.html" operations: "encipher,decipher" %}
{% endform %}
{% assign queryLength = eleventy.serverless.query | keylength %}
{% if queryLength > 0 %}
    {% assign result = eleventy.serverless.query | makeCipher: id %}
    {% output %}
        <dl>
            <div>
                <dt>Cipher alphabet</dt>
                <dd>{{ result.alphabet }}</dd>    
            </div>
            <div>
                <dt>Message</dt>
                <dd>{{ result.message }}</dd>
            </div>
        </dl>
    {% endoutput %}
{% endif %}