---
id: atbash
title: Atbash Cipher
description: A naive monoalphabetic substitution cipher that simply reverses the plaintext alphabet.
infoUrl: https://en.wikipedia.org/wiki/Atbash
---
{%- comment -%}Statically rendered input page OR server-rendered output page with form populated via query params{%- endcomment -%}
{%- assign message = eleventy.serverless.query.message | default: '' -%}
{%- assign alphabet = eleventy.serverless.query.alphabet | default: alphabets.english -%}
{%- assign operation = eleventy.serverless.query.operation | default: "encipher" -%}
{% form %}
    <label>Message <textarea name="message" minlength="0" required>{{ message }}</textarea></label>
    <label>Plaintext alphabet <input name="alphabet" type="text" value="{{ alphabet }}" required></label>
    {% render "operationPicker.html" operations: "encipher,decipher", selectedOperation: operation %}
{% endform %}
{%- comment -%}Server-rendered output page{%- endcomment -%}
{% if eleventy.serverless %}
    {% assign result = eleventy.serverless.query | makeCipher: id %}
    {% output %}
        <dl>
            <div>
                <dt>Cipher alphabet</dt>
                <dd>{{ result.alphabet }}</dd>    
            </div>
            <div>
                <dt>Message</dt>
                <dd>{{ result.message }}</dd>
            </div>
        </dl>
    {% endoutput %}
{% endif %}