---
id: atbash
title: Atbash Cipher
description: A naive monoalphabetic substitution cipher that simply reverses the plaintext alphabet.
infoUrl: https://en.wikipedia.org/wiki/Atbash
permalink:
    build: /atbash/
    onrequest: /atbash/output/
---

<section>
    <h2 id="input">Input</h2>
    <form action="{{ permalink.onrequest }}"  method="get">
        <label>Message <textarea name="message" minlength="0" required>{{ eleventy.serverless.query.message | default: '' }}</textarea></label>
        <label>Plaintext alphabet <input name="alphabet" type="text" value="{{ eleventy.serverless.query.alphabet | default: alphabets.english }}" required></label>
        <label>
            Operation
            {% assign operations = "encipher,decipher" | split: "," %}
            <select name="operation">
                {% for operation in operations %}
                    <option value="{{ operation }}" {% if eleventy.serverless.query.operation == operation %}selected{% endif %}>{{ operation | toSentenceCase }}</option>
                {% endfor %}
            </select>
        </label>
        <button type="submit">Submit</button>
    </form>
</section>
{% assign queryLength = eleventy.serverless.query | keylength %}
{% if queryLength > 0 %}
    {% assign result = eleventy.serverless.query | makeCipher: id %}
    <section>
        <h2 id="output">Output</h2>
        <dl>
            <div>
                <dt>Cipher alphabet</dt>
                <dd>{{ result.alphabet }}</dd>    
            </div>
            <div>
                <dt>{{ eleventy.serverless.query.message | escape }}</dt>
                <dd>{{ result.message }}</dd>
            </div>
        </dl>
    </section>
{% endif %}