---
title: Caesar Cipher
description: A weak substitution cipher that shifts a plaintext alphabet by a certain number of places to the right to produce a cipher alphabet. This alphabet is then used to encipher and decipher messages. Of particular note is a Caesar cipher of shift 13 performed on the English alphabet—known as rot13—because enciphering and deciphering are symmetric operations.
infoUrl: https://en.wikipedia.org/wiki/Caesar_cipher 
permalink:
    onrequest: /caesar
---

<form method="get">
    <label>Message <input name="message" type="text" minlength="0" required value="{{ eleventy.serverless.query.message | default: '' }}"></label>
    <label>Caesar shift <input name="shift" type="number" value="{{ eleventy.serverless.query.shift | default: 13 }}" step="1" min="1" required></label>
    <label>Plaintext alphabet <input name="alphabet" type="text" value="{{ eleventy.serverless.query.alphabet | default: alphabets.english }}" required></label>
    <label>
        Operation
        <select name="operation">
            <option value="encipher" {% if eleventy.serverless.query.operation == 'encipher' %}selected{% endif %}>Encipher</option>
            <option value="decipher" {% if eleventy.serverless.query.operation == 'decipher' %}selected{% endif %}>Decipher</option>
        </select>
    </label>
    <input hidden name="algorithm" type="text" value="caesar" />
    <button type="reset">Reset</button>
    <button type="submit">Submit</button>
</form>
{% assign queryLength = eleventy.serverless.query | keylength %}
{% if queryLength > 0 %}
    <section>
        <h2 id="output">Output</h2>
        <output aria-labelledby="output">
            {% output eleventy.serverless.query %}
        </output>
    </section>
{% endif %}